<!-- //footer template -->

<footer class="todo-footer">
    <div class="footer-div">
        <span class="todo-count">
            <%= itemsLeft %>
                item<%= itemsLeft !==1 ? 's' : '' %> left
        </span>
        <ul class="filters">
            <li>
                <a href="/?filter=all" class="<%= filter === 'all' ? 'selected' : '' %>">All</a>
            </li>
            <li>
                <a href="/?filter=active" class="<%= filter === 'active' ? 'selected' : '' %>">Active</a>
            </li>
            <li>
                <a href="/?filter=completed" class="<%= filter === 'completed' ? 'selected' : '' %>">Completed</a>
            </li>
        </ul>
        <button class="clear-completed" type="button">Clear completed</button>
    </div>
</footer>