<!-- main template -->

<main>
    <% todos.forEach(todo=> { %>
        <li>
            <div class="view">
                <div class="label-wrapper">
                    <input class="toggle" type="checkbox" id="todo-<%= todo.id %>" data-id="<%= todo.id %>"
                        <%=todo.completed ? 'checked' : '' %>>
                    <label for="todo-<%= todo.id %>">
                        <%= todo.text %>
                    </label>
                </div>
                <div>
                    <button class="close-btn" data-id="<%= todo.id %>" type="button"></button>
                </div>
            </div>
        </li>
        <% }) %>
</main>